.contatosingle{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 100px;
    .contatosingle-org{
        width: 100%;
        h2{
            color: #000;
            font-size: 30px;
        }
        .org-info{
            display: flex;
            align-items: center;
            margin-top: 15px;
            img{

            }
            p{
                margin-left: 5px;
            }
        }
    }
    .contatosingle-img{
        width: 100%;
        margin-top: 50px;
        border-radius: 15px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
}