.headerpage{
    position: relative;
    width: 100%;
    height: 100vh;
    mix-blend-mode: color;
    filter: brightness(150%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    img{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }
    div{
        position: relative;
        display: flex;
        align-content: center;
        height: 160px;
        z-index: 5;
        
        h2{
            color: #fff;
            font-size: 60px;
            z-index: 5;
            text-transform: uppercase;
        }
    }
    
}
.headerpage::before{
    content: "";
    width: 100%;
    height: 100vh;
    background-color: rgba(118, 38, 90, 0.8);
    position: absolute;
    z-index: -2;
}
@media (max-width: 768px){
    .headerpage{
        height: 100vh;
        justify-content: center;
        align-content: center;
        align-items: center;

        div{
            height: 250px;
            h2{
                font-size: 40px;
            }
            p{
                font-size: 16px;
                max-width: 360px;
                line-height: 20px;
            }
        }
    }
    .headerpage::before{
        height: 100vh;
    }
}
