.postprojeto{
    margin-top: 100px;
    margin-bottom: 50px;
    p{
        font-family: $font;
        margin-bottom: 24px;
        font-size: 20px;
        color: $grayDark;
        line-height: 30px; 
    }
}